Resources/wsdl/prod/recipient.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:nms:recipient" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:nms:recipient" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><types><s:schema elementFormDefault="qualified" targetNamespace="urn:nms:recipient"><s:complexType name="Element"><s:sequence><s:any processContents="lax"/></s:sequence></s:complexType><s:element name="RegisterGroup"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemGroupList" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="elemRecipientList" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="bRegister" type="s:boolean"/></s:sequence></s:complexType></s:element><s:element name="RegisterGroupResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element
              name="RegisterGroup2"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemGroupList" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="elemRecipientList" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="elemClearGroup" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="RegisterGroup2Response"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="ClearFolder"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemFolderId" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="ClearFolderResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="ClearGroup"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken"
              type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemGroupId" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="ClearGroupResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="parrainage_pile"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="typology" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="idGodfather" type="s:int"/><s:element maxOccurs="1" minOccurs="1" name="godsons" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="parrainage_pileResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="responseMessage" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="parrainage_lecture"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1"
              minOccurs="1" name="idGodfather" type="s:int"/></s:sequence></s:complexType></s:element><s:element name="parrainage_lectureResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="responseMessage" type="tns:Element"/></s:sequence></s:complexType></s:element></s:schema></types><message name="RegisterGroupIn"><part element="tns:RegisterGroup" name="parameters"/></message><message name="RegisterGroupOut"><part element="tns:RegisterGroupResponse" name="parameters"/></message><message name="RegisterGroup2In"><part element="tns:RegisterGroup2" name="parameters"/></message><message name="RegisterGroup2Out"><part element="tns:RegisterGroup2Response" name="parameters"/></message><message name="ClearFolderIn"><part element="tns:ClearFolder" name="parameters"/></message><message name="ClearFolderOut"><part element="tns:ClearFolderResponse" name="parameters"/></message><message name="ClearGroupIn"><part element="tns:ClearGroup"
    name="parameters"/></message><message name="ClearGroupOut"><part element="tns:ClearGroupResponse" name="parameters"/></message><message name="parrainage_pileIn"><part element="tns:parrainage_pile" name="parameters"/></message><message name="parrainage_pileOut"><part element="tns:parrainage_pileResponse" name="parameters"/></message><message name="parrainage_lectureIn"><part element="tns:parrainage_lecture" name="parameters"/></message><message name="parrainage_lectureOut"><part element="tns:parrainage_lectureResponse" name="parameters"/></message><portType name="recipientMethodsSoap"><operation name="RegisterGroup"><input message="tns:RegisterGroupIn"/><output message="tns:RegisterGroupOut"/></operation><operation name="RegisterGroup2"><input message="tns:RegisterGroup2In"/><output message="tns:RegisterGroup2Out"/></operation><operation name="ClearFolder"><input message="tns:ClearFolderIn"/><output message="tns:ClearFolderOut"/></operation><operation name="ClearGroup"><input
        message="tns:ClearGroupIn"/><output message="tns:ClearGroupOut"/></operation><operation name="parrainage_pile"><input message="tns:parrainage_pileIn"/><output message="tns:parrainage_pileOut"/></operation><operation name="parrainage_lecture"><input message="tns:parrainage_lectureIn"/><output message="tns:parrainage_lectureOut"/></operation></portType><binding name="recipientMethodsSoap" type="tns:recipientMethodsSoap"><soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><operation name="RegisterGroup"><soap:operation soapAction="nms:recipient#RegisterGroup" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="RegisterGroup2"><soap:operation soapAction="nms:recipient#RegisterGroup2" style="document"/><input><soap:body
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="ClearFolder"><soap:operation soapAction="nms:recipient#ClearFolder" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="ClearGroup"><soap:operation soapAction="nms:recipient#ClearGroup" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="parrainage_pile"><soap:operation soapAction="nms:recipient#parrainage_pile" style="document"/><input><soap:body
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="parrainage_lecture"><soap:operation soapAction="nms:recipient#parrainage_lecture" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation></binding><service name="NmsRecipient"><port binding="tns:recipientMethodsSoap" name="recipientMethodsSoap"><soap:address location="http://ac.lafourchette.typhon.net:8080/nl/jsp/soaprouter.jsp"/></port></service></definitions>
